:root { 
--green_300:#6ccb9c; 
--bluegray_50:#eaecf0; 
--gray_901:#121b29; 
--blue_500:#18a0fb; 
--gray_900:#0d1624; 
--bluegray_100:#d6dae2; 
--blue_A200:#4f80e1; 
--bluegray_900:#1f2735; 
--black_900_99:#090b0d99; 
--black_900:#000919; 
--bluegray_200:#bac1ce; 
--blue_400:#37aee2; 
--white_A700:#ffffff; 
--cyan_400:#18cdca; 
--bluegray_902:#262f3b; 
--bluegray_901:#29313e; 
}